.PartySelect{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #edf2f4;
    cursor: pointer;
    transition: 0.4s;
}
.PartySelect:hover{
    background-color: #8d99ae;
    border-radius: 20px;
    color: white;
    border:none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
   
    margin-left: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e3e3e3;
    border-radius: 20px;
 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {

    background: #8d99ae;
    border-radius: 20px;
   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2b2d42;
   
  }


  .OverFlowBox{
    overflow: scroll;
    overflow-x: hidden;
    
  }

  .SavePax{
    align-self: flex-end;
    /* width: 8vw; */
    height:5vh ;
    border:2px solid #8d99ae;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: 0.4s;
    font-size: 16px;
    color: #8d99ae;
  }

  .SavePax:hover{
    background-color: #8d99ae;
    border-radius: 20px;
    color: white;
    
  }

  .NextOnCreate{
    border: none;
    /* width: 8vw; */
    height: 4.5vh;
    background-color: #8d99ae;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
    font-size: 15px;
  }

  .NextOnCreate:hover{
    background-color:#2b2d42;
    font-size: 16px;
  }

  .timesButton{
    transition-duration: 0.3s;
  }

  .timesButton:hover{
    background-color: #8d99ae;
    color: white;
    font-size: 25px;
  }

  .TransacAddButton{
    width: 7vw;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color:#8d99ae;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    font-size: 16px;
    margin-top: 3px;
  }

  .TransacAddButton:hover{
    background-color: #2b2d42;
    
  }


  .table-container {
    width: 95%;
    overflow-x: auto; /* Horizontal scrolling */
    /* height: 150px; */
    
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;

    
  }
  
  .table-container th,
  .table-container td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    border-right: 1px solid #ddd;
  }

  .table-container thead th {
    position: sticky;
    top: 0;
    
  }
  
  
  .table-container th {
    background-color: #8d99ae;
    font-weight: bold;
    color: white;
    
  }
  
  /* .table-container tr:hover {
    background-color: #8d99ae;
    color: white;
  } */

  .ActionButtons{
    background-color: #8d99ae;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
  }


  .ActionButtons:hover{
    background-color: #2b2d42;
    color: white;
    /* border: 2px solid white; */
  }

  .DeleteButton{
    background-color: #8d99ae;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s;
  }

  .DeleteButton:hover{
    background-color: maroon;
    color: white;
    /* border: 2px solid white; */
  }