.FormFooterButton{
    border: none;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    background-color: #8d99ae;
    cursor: pointer;
    color: #edf2f4;
    font-size: 15px;
    transition: 0.3s;
}

.FormFooterButton:hover{
    background-color: #2b2d42;
}