.InnerUrlGridBox{
    scale: 1;
    transition: 0.3s;
    user-select: none;
    color: #edf2f4;
}

.InnerUrlGridBox:hover{
    scale: 1.1;
    background-color: #2b2d42;
    color: #edf2f4;
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}