*{
  font-family: Poppins;
  
}
  
/* Target Webkit browsers (Chrome, Safari, etc.) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    /* Change 'white' to match your desired background color */
    
    /* Optional: If you want to change the text color when autofilled */
    -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
}

/* For Firefox */
input:autofill {
    background-color: white !important;
    /* Change 'white' to match your desired background color */
}
  
  body {
  margin: 0;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
